/* General Stling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

html {
  font-size: 17px;
}

* {
  font-family: "Roboto", sans-serif;
}

/* * {
    font-family: "Trirong", serif;
  } */

*::selection {
  background-color: var(--prime-color);
}

body {
  --prime-color: #cdde49;
  --shadow-color: #b5c922;
  --text-color: #2d2d2d;
  --text-highlight-color: #8c9d0f;
  --background-color: #f8fae5;
  --outline-color: red;
  --rotation: rotate(-13deg);
}

header {
  border-bottom: 0.3rem solid var(--prime-color);
}

footer {
  _border-top: 0.3rem solid var(--prime-color);
}

/* Specific Stling */
/* Header Stling */

.header-wrapper {
  display: flex;
}

.logo-outline {
  border: 0.3rem solid var(--prime-color);
  border-radius: 0.8rem;
  margin: 1rem;
}

.logo-header {
  padding: 0rem 0.7rem;
  color: var(--prime-color);
  font-weight: bolder;
  transform: var(--rotation);
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.header-text {
  margin: auto;
  font-size: 1.7rem;
  font-weight: 500;
}

/* Hex Code Styling */

.color-wrapper {
  display: flex;
  flex-direction: column;
}

.color-title {
  margin: 2.5rem 1rem 2rem 4rem;
}

.hex-code {
  transform: var(--rotation);
  margin: 0.5rem 1rem;
  font-size: 4rem;
  letter-spacing: 0.15rem;
  display: inline-block;
  _outline: 1px solid var(--outline-color);
  color: var(--prime-color);
  filter: drop-shadow(0.2rem 0.3rem 0rem var(--shadow-color));
  text-shadow: 0 0 80px var(--prime-color);
}

.hex-name {
  position: absolute;
  transform: var(--rotation) translateX(15px) translateY(-13px);
  margin: 0.5rem 1rem;
  display: inline-block;
  _outline: 1px solid var(--outline-color);
  font-size: 1.65rem;
  font-weight: 500;
}

.color-description {
  position: absolute;
  transform: var(--rotation) translateX(55px) translateY(40px);
  margin: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  _outline: 1px solid var(--outline-color);
  color: var(--text-highlight-color);
  font-size: 0.9rem;
}

/* Todo Styling */

.todo {
  margin-left: 4rem;
}

/* Other */

.description {
  margin-left: 4rem;
}

.footer-text {
  margin-left: 4rem;
}
